body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: rgb(236, 228, 228);
    padding: 10px 20px;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(215, 205, 205);
    text-decoration: none;
    font-weight: bold;
}

.about-hero {
    background-image: url('about-hero.jpg');
    background-size: cover;
    background-position: center;
    background-color: #151111;
    color: rgb(233, 225, 225);
    text-align: center;
    padding: 50px 20px;
}

.about-hero h1 {
    font-size: 3em;
    margin: 0;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

.team {
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px 20px;
}

.team h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.team-members {
    display: flex;
    justify-content: space-around;
}

.team-member {
    text-align: center;
    max-width: 200px;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    height: auto;
}

.team-member h3 {
    font-size: 1.5em;
    margin: 15px 0 5px;
}

.team-member p {
    font-size: 1em;
    color: #777;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}